body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #ff5454;
}

#title{
    font-size: xxx-large;
    color: #fff;
    text-decoration: underline;
}

main{
    background-color: #00ffe5;
    width: 356px;
    height: 374px;
    border-radius: 4% 4% 4px 4px;
}

#expression{
    width: 340px;
    font-size: x-large;
    border: none;
    height: 48px;
    padding: 8px;
    text-align: right;
    border-radius: 12px 12px 0 0;
}

#keypad{
    width: 100%;
    font-size: 32px;
    height: 308px;
    font-weight: 900;
    color: #ffffff;
    padding-top: 2px;
}

.keyText{
    text-align: center;
    width: 80px;
    padding: 8px;
    background-color: #0088ff;
    box-shadow: 2px 2px #00ffe5, -2px -2px #00ffe5;
    border-radius: 8px;
    cursor: pointer;
}